.auth-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #007bff, #3bb9ff);
}
.auth-card {
    width: 95%;
  max-width: 440px;
  padding: 35px 30px;
  background: #fff;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.auth-card h2 {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

.auth-input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  
  border: 1.5px solid #e2e8f0;
  border-radius: 25px;
  outline: none;
  transition: 0.3s;
}

.auth-input:focus {
  border-color: #3ba8ff;
  box-shadow: 0px 0px 5px rgba(59, 168, 255, 0.4);
}

.auth-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background: #007bff;
  color: white;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 0.1px;
  transition: 0.2s;
}

.auth-btn:hover {
  background: #005fcc;
}

.auth-footer {
  margin-top: 35px;
  font-size: 15px;
  font-weight: 400;
  color: #333;
  text-align: left;
}

.auth-footer a {
  color: #007bff;
  text-decoration: none;
}

.auth-footer a:hover {
  text-decoration: underline;
}
.spinner {
  width: 18px;
  height: 18px;
  border: 3px solid #ffffff;
  border-top: 3px solid transparent;
  border-radius: 50%;
  display: inline-block;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
